@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fff5e9;
}

.main {
  margin: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
}

.nav-menu {
  width: 100%;
}

.settings-space {
  position: absolute;
  top: -4px;
  right: 20px;
}

.settings-icon {
  font-size: 25px;
  color: #8f2121;
  margin: 10px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.service-name {
  color: red;
  text-transform: uppercase;
  font-size: 24px;
}

.first-letter::first-letter {
  color: red;
}

.initial-letter::first-letter {
  color: red;
  initial-letter: 2;
}

.indent, .propers {
  text-indent: 30px;
  text-align: justify;
  align-self: flex-start;
}

.propers {
  background-color: #faf5f0;
  padding: 10px 15px;
  box-shadow: 0px 0px 4px 1px rgb(193, 182, 162);
  border: solid 1px #faf5f0;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}
.propers p + p {
  padding-top: 10px;
}

.verse {
  margin-left: 30px;
  text-align: left;
  align-self: flex-start;
}
.verse span:not(.prayer-incipit) {
  margin-left: 20px;
  display: block;
}

.margin-text {
  margin-top: 10px;
}

.prokeimenon, .ektenia__choir {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.prokeimenon .rubric, .prokeimenon .rubric--glory, .ektenia__choir .rubric, .ektenia__choir .rubric--glory {
  margin: 0;
  margin-right: 5px;
  text-indent: 30px;
  line-height: 1.5;
  white-space: nowrap;
}
.prokeimenon .indent, .ektenia__choir .indent, .prokeimenon .propers, .ektenia__choir .propers {
  text-indent: 10px;
  margin-left: 10px;
}

.ektenia__choir {
  margin-left: 20px;
}
.ektenia__choir .rubric, .ektenia__choir .rubric--glory {
  margin: 0;
  margin-right: 5px;
  text-indent: 30px;
  line-height: 1.5;
}
.ektenia__choir .indent, .ektenia__choir .propers {
  text-indent: 10px;
  margin-left: 10px;
}

.priest:before {
  content: "Kapłan: ";
  color: red;
  font-size: 14px;
}

.inline-paragraph {
  display: inline;
}
.inline-paragraph p {
  display: inline;
}

.rubric, .rubric--glory {
  margin: 10px 0 5px 0;
  color: red;
  font-size: 14px;
}

.rubric + .rubric, .rubric--glory + .rubric, .rubric + .rubric--glory, .rubric--glory + .rubric--glory {
  margin: 0 0 5px 0;
  color: red;
  font-size: 14px;
}

.rubric--quote {
  display: inline-block;
  color: black;
  font-weight: 600;
}
.rubric--quote::first-letter {
  color: red;
}

.rubric--glory {
  font-weight: 600;
}

.service-h3 {
  color: red;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 0;
}

.service__header {
  width: 100%;
  position: fixed;
  top: 5px;
  left: 5px;
}

.prayer-incipit {
  text-transform: uppercase;
  font-size: 12px;
}

.stichera {
  margin: 10px 0;
}

.footer {
  background-color: #8f2121;
  width: 100%;
  color: #faf5f0;
  min-height: 100px;
  padding: 20px 150px;
  text-justify: center;
  font-size: 14px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  line-height: 1.5 !important;
}
.footer a {
  text-decoration: none;
  color: rgb(255, 244, 146);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
}

@media screen and (max-width: 500px) {
  .main {
    margin: 50px 30px;
  }
  .indent, .propers {
    text-align: unset;
  }
  .footer {
    padding: 20px 30px;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .footer {
    padding: 20px 30px;
  }
}/*# sourceMappingURL=styles.css.map */